/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

@font-face {
	font-family: "starWarsFont";
	src: url("./StarJedi.woff") format('woff');
	;
}


/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html,
body,
figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-size: 1.1rem;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;

}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 55rem;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Links: apply our theme color and remove underline */
a {
	color: rgb(0, 44, 122);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
}

/* Titles: set color and sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f5c91c;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	color: #f5c91c;
	font-size: 1.75rem;
	text-align: center;
}

h4 {
	font-size: 1.25rem;
}

/* Top navigation bar */
nav {
	width: 100%;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: 0;
	padding: 0;

	/* Remove list bullet points */
	list-style-type: none;

	/*
	Flexbox is a modern mechanism for arranging elements
		https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	This will arrange the elements in a row
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

/* Space between links */
nav li {
	margin-right: 3rem;
}

#title {
	margin-top: 50vh;
	/* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%);
	/* tiré de la moitié de sa propre hauteur */
}


.title {
	font-family: starWarsFont;
	color: rgb(255, 232, 31);
	font-size: 10em;
	width: max-content;
}

.subtitle {
	color: white;
	width: max-content;
	font-family: starWarsFont;
}

.center {
	margin: 0 auto;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 5rem;
	padding-bottom: 5rem;

	background-color: rgb(0, 44, 122);

	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	font-size: 2.5rem;
	color: white;
	font-variant: small-caps;
}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: rgb(50, 50, 50);
}

figure>* {
	width: 100%;
	height: auto;
}


footer {
	padding-bottom: 5rem;
}

button {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #f5c91c 100%);
	background-color:#f5c91c;
	border-radius:16px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
button:active {
	position:relative;
	top:1px;
}


textarea {
	width: 100%;
	height: 30rem;

	font-family: sans-serif;
	font-size: 1rem;
}

#plot-occurrences {
	height: 18rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;

	color: white;
	font-size: 1.3rem;
}

#plot-occurrences>div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
}

#plot-occurrences .bar {
	width: 2rem;

	margin-bottom: 0.4rem;

	background: rgb(240, 50, 10);
}

.label-value {
	margin-top: 2rem;
	margin-bottom: 0.25rem;
	transform: rotate(90deg);

	font-size: 0.8rem;
}

.stretch {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	overflow: scroll;
}

.container {
	scroll-snap-type: block mandatory;
}

.child {
	scroll-snap-align: center;
}

.block-height {
	height: 100vh;
}



#crawl-container {
	perspective: calc(100vh * 0.4);
}

#crawl {
	color: #f5c91c;
	position: relative;
	width: 110%;
	left: -5%;
	bottom: -5%;
	height: 200%;
	overflow: scroll;

	transform: rotate3d(1, 0, 0, 45deg);
	transform-origin: 50% 100%;

	mask-image: linear-gradient(rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.66),
			rgba(0, 0, 0, 1));

	-webkit-mask-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.66),
			rgba(0, 0, 0, 1));
}

#crawl-content {
	font-family: Roboto;
	font-size: calc(100vw * 0.074);
	letter-spacing: 0.09em;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
}

#crawl p {
	text-align: justify;
	width: 100%;
	margin: 0 0 1.25em 0;
	line-height: 1.25em;
}

#crawl h1 {
	font-size: 1em;
	margin: 0 0 0.3em 0;
}

#crawl h2 {
	font-size: 1.5em;
	margin: 0 0 0.7em 0;
}

#crawl h1,
#crawl h2 {
	text-align: center;
}

.flex-parent {
	display: flex;
}

.jc-center {
	justify-content: center;
}

button.margin-right {
	margin-right: 20px;
}

.img-ship {
	max-height: 50vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}